* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 1200px;
    height: 130px;
    background-color: rgb(53, 23, 23);
}

.logo {
    width: 10%;
    float: left;
}

.search {
    width: 90%;
    float: left;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header img {
    width: 100%;

}

.dangky:hover {
    color: red;
}

.dangky {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}

.dangnhap {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}

.dangnhap:hover {
    color: red;
}

header .timkiem {
    line-height: 65px;
    float: right;
    margin-right: 100px;
    width: 400px;
}

nav {
    height: 60px;
    width: 90%;
    float: left;
    text-align: center;
    background-color: rgb(204, 99, 24);
}

.menu {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    margin: 5px;

}

.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    padding: 10px;
}

nav>ul>li :hover {
    color: yellowgreen;
}

.anh {
    float: left;
    margin: 15px;
}

.anh img {
    width: 500px;
}

.chitiet {}


b {
    font-weight: bold;
}

.control {
    padding: 5px;
    margin: 5px;
}

.control1 {
    text-align: center;
    margin: 5px;
    padding: 20px;
}

.mota legend {
    position: absolute;
    font-size: 20px;
    color: red;
    margin: 15px;
    font-weight: bold;
}

.mota p {
    margin-top: 13px;
    float: left;
    font-size: 19px;
}
.mota2 p{
    text-align: center;
    font-size: 19px;
}
.phancuoiright ul li a {
    padding: 5px;
    margin-left: 160px;
    text-decoration: none;
    font-size: 20px;

}

.phancuoiright ul li a:hover {
    color: aquamarine;
}

.phancuoicenter h4 {
    color: red;
    position: relative;
    left: 520px;
    bottom: 140px;
    margin: 5px;

}

.phancuoicenter ul li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin-left: 520px;
    bottom: 140px;

}

.phancuoicenter ul li a:hover {
    color: aquamarine;
}
ul{
    list-style-type: none ;
}.phancuoiright h4 {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-left: 160px;
}