.box{
    

}
.control{
    font-size: 20px;
    color: red;
    margin: 5px;
    padding: 5px;
    
}
input{
    border-radius: 7px;
    box-shadow: 0 0 5px blueviolet;
}
.box{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: aqua;
    padding: 15px;
    border: 2px dotted gray;
    border-radius: 10px;
}
