* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 1200px;
    height: 130px;
    background-color:rgb(53, 23, 23);
}

.logo {
    width: 10%;
    float: left;
}

.search {
    width: 90%;
    float: left;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header img {
    width: 100%;
    
}
.dangky:hover{
    color: red;
}
table{
    border-collapse: collapse;
}
td:nth-child(2n+1){
    width: 70px;
    text-align: center;

}
td:nth-child(2n){
    width: 150px;
    text-align: center;
}
tr{
    height: 30px;
    border-color: greenyellow;

}
tr:first-child{
    background-color: rgb(0, 119, 128);
    color: white;
    border-color:wheat ;
}
tr:nth-child(){
    background-color: greenyellow;
    font-weight: bold;

}article .chuongtrinh table{
    text-align: center;
}
.anh3 img{
    margin: 10px;
    height: 500px;
    width: 400px;
    float: left;
}

caption{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.phancuoiright ul li a {
    padding: 5px;
    margin-left: 160px;
    text-decoration: none;
    font-size: 20px;

}

.phancuoiright ul li a:hover {
    color: aquamarine;
}

.phancuoicenter h4 {
    color: red;
    position: relative;
    left: 520px;
    bottom: 140px;
    margin: 5px;

}

.phancuoicenter ul li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin-left: 520px;
    bottom: 140px;

}

.phancuoicenter ul li a:hover {
    color: aquamarine;
}
ul{
    list-style-type: none ;
}.phancuoiright h4 {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-left: 160px;
}


.dangky {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}.dangnhap {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}
.dangnhap:hover{
   color: red;
}

header .timkiem {
    line-height: 65px;
    float: right;
    margin-right: 100px;
    width: 400px;
}
nav {
    height: 60px;
    width: 90%;
    float: left;
    text-align: center;
    background-color: rgb(204, 99, 24);
}.menu {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav  ul li a {
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    
}
.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    padding: 10px;
}
nav>ul>li :hover {
    color: yellowgreen;
}
.anh img {
    width: 100%;
}
article .tieude{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}
article .baiviet{
    font-size: 20px;
}
article .thoigian{
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}
article .anh2 img{
    width: 100%;
}
article .uudai{
    font-weight: bold;
    font-size: 20px;
}
