* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 1200px;
    height: 130px;
    background-color:rgb(53, 23, 23);
}

.logo {
    width: 10%;
    float: left;
}

.search {
    width: 90%;
    float: left;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header img {
    width: 100%;
    /* padding-left: 30px; */
}

.login {
    color: blue;
    position: absolute;
    top: 0px;
    right: 280px;
    font-size: 20px;
    border: 3px solid olivedrab;
    border-radius: 3px 0px 3px 0px;
}

.login>u {
    text-decoration: none;
}


.dangnhap {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}
.dangnhap:hover{
   color: red;
}
.dangky:hover{
    color: red;
}

.dangky {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    float: right;
    padding-top: 5px;
    margin: 20px;
    width: 100px;
}

nav {
    height: 60px;
    width: 90%;
    float: left;
    text-align: center;
    background-color: rgb(204, 99, 24);
}

nav .menu ul {
    list-style: none;
}

nav .menu ul li {
    float: left;
    line-height: 35px;
    padding: 10px;
}

nav  ul li a {
    text-decoration: none;
    font-size: 20px;
    margin: 5px;



}

header .timkiem {
    line-height: 65px;
    float: right;
    margin-right: 100px;
    width: 400px;
}

.menu {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    padding: 10px;
}

nav>ul>li :hover {
    color: red;
}
.smenu{
    list-style: none;
    position: absolute;
    margin-bottom: 200px;
    margin-left: 300px;
    display: block;
    display: none;
}
.smenu>li {
    background-color: rgb(212, 212, 212);
    width: 170px;
}

.smenu>li:hover a {
    color: rgb(34, 86, 228);
}



article h3 {
    text-align: center;
    padding: 15px 0;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}


article h4 {
    margin-left: 10px;
}

article .mau1 .gia {
    color: blue;
    font-weight: bold;
    font-size: large;

}

article .gia del {
    color: darkblue;
}

article .mau1 {
    border-radius: 10px;
    box-shadow: 5px gray;
    padding: 10px;
    margin: 8px;
    text-align: center;
    border: 1px solid gray;
    width: 200px;
    height: 300px;
    float: left;
}
article .mau1:hover{
    color: yellow;
}
article .khuyenmai1:hover{
    color: yellow;
}

.mau1 img {
    width: 200px;

} 
article .mau1 a button{
    border-radius: 10px;
    box-shadow:  5px yellowgreen;
}
article .mau1 a button:hover{
    color: chocolate;
}

article .khuyenmai1 {
    float: left;



}
article .khuyenmai a button{
    border-radius: 10px;
    box-shadow:  5px yellowgreen;
}
article .khuyenmai a button:hover{
    color: tomato;
}

.khuyenmai1 img {
    width: 200px;

}

.bangtin img {
    position: relative;
    width: 150px;
    margin: 5px;


}

.tinnoibat h3 {
    margin-left: 300px;
    padding: 10px;
    margin: 10px;
}

.tinnoibat>.bangtin>a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: black;

}
.col1 a:hover{
    color: red;
}

.khuyenmai h3 {
    text-align: center;
}

.khuyenmai>.khuyenmai1 {
    border-radius: 10px;
    box-shadow: 5px gray;
    padding: 10px;
    margin: 8px;
    width: 200px;
    height: 300px;
    border: 1px solid gray;
}

.khuyenmai1 h4 {
    margin-left: 50px;
}

.khuyenmai .gia {
    color: cornflowerblue;
    font-weight: bold;
    padding: 0px;
    margin-left: 5px;
}

.khuyenmai>.khuyenmai1 img {
    float: left;
}

article .col1 {
    border: blanchedalmond;
    width: 50%;
    height: 200px;
    float: left;
    margin: 10px auto;
    text-align: left;

}

article .col1>img {
    width: 30%;
    height: 90%;
    padding: 5px;
    float: left;
}

article .col1>p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

article .col1>a {
    color: blue;
    text-decoration: none;
    font-size: 25px;
}

footer {
    clear: both;
}

.phancuoiright h4 {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-left: 160px;
}

.phancuoiright ul li a {
    padding: 5px;
    margin-left: 160px;
    text-decoration: none;
    font-size: 20px;

}

.phancuoiright ul li a:hover {
    color: aquamarine;
}

.phancuoicenter h4 {
    color: red;
    position: relative;
    left: 520px;
    bottom: 140px;
    margin: 5px;

}

.phancuoicenter ul li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin-left: 520px;
    bottom: 140px;

}

.phancuoicenter ul li a:hover {
    color: aquamarine;
}
.menu{
    border: 1px red;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
}
.menu>li:hover .smenu{
    display: block;
}